@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

:root {
    --font-size-14: 14px;
    --font-size-18: 18px;
    --font-size-22: 22px;
    --font-size-28: 28px;
    --font-size-36: 36px;
    --font-size-48: 48px;
    --font-size-96: 96px;
    --font-size-40: 40px;
    --font-size-19: 19px;
    --font-size-12: 12px;
    --font-size-8: 8px;
    --font-size-10: 10px;
    --font-size-11: 11px;
    --font-size-43: 43px;
    --font-size-: px;
    --font-size-: px;
    --font-size-: px;

    /* color */
    --color-white: #ffffff;
    --color-orange: #F06500;
    --color-black: #242424;
    --color-black2: #0C0B0B;
    --color-bulrwhite: #B6B6B6;
    --color-grey: #1D1A1A;
    --color-white2: #B9B9B9;
}

.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.navbar-background {
    background-color: #070402;
}

.gap-32 {
    gap: 32px;
}

.btn-connect {
    padding: 7px 23px 7px 23px;
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32.4px;
    color: var(--color-white);
    border: none;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    ;
}

.shiba-font {
    font-size: var(--font-size-18);
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: var(--color-orange);
}

.saint-font {
    font-size: var(--font-size-36);
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: var(--color-white);
}

.nav-home {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
}

.section1-background {
    background-image: url(../images/section1-background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}

.section1-btn-connect {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-22);
    padding: 12px 32px 12px 32px;
    font-weight: 600;
    color: var(--color-white);
    line-height: 33px;
    text-align: left;
    border-radius: 33px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border: none;
}

.section1-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-96);
    font-weight: 700;
    line-height: 95.52px;
    text-align: left;
    color: var(--color-white);
}

.lorem-paragraph-section1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-22);
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: var(--color-white);
}

.menubar {
    display: none;
}

.mt-24 {
    margin-top: 24px;
}

.mt-50 {
    margin-top: 50px;
}

.h-90 {
    height: 90%;
}

.section2-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 600;
    line-height: 61.44px;
    text-align: left;
    color: var(--color-white);
}

.section2-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
}

.mt-16 {
    margin-top: 16px;
}

.section-2-background {
    background: var(--color-black2);
}

.parent-box {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border: 1px solid #523235;
    border-radius: 10px;
    top: -100px;
    padding: 24px;
    backdrop-filter: blur(35px);
}

.mt-32 {
    margin-top: 32px;
}

.section2-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 600;
    line-height: 61.44px;
    text-align: left;
    color: var(--color-white);
}

.section2-pargraph {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: var(--color-bulrwhite);
}

.btn-learn-more {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    color: var(--color-white);
    font-weight: 600;
    line-height: 32.4px;
    text-align: left;
    padding: 7px 23px 7px 23px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border-radius: 23px;
    border: none;
}

.glow {
    top: 12%;
    left: -60%;
    width: 50px;
}

.top-191 {
    top: -191px;
}

.section3-background {
    background: var(--color-grey);
}

.section3-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    color: var(--color-white);
    font-weight: 600;
    line-height: 61.44px;
    text-align: left;
}

.pt-89 {
    padding-top: 89px;
}

.min-vh-100 {
    min-height: 100vh;
}

.section3-heading {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-48);
    font-weight: 600;
    line-height: 61.44px;
    text-align: left;
    color: var(--color-white);
}

.section3-paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
    opacity: 70%;
    padding-top: 24px;
}

.box {
    width: 100%;
    height: 308px;
    gap: 16px;
    margin-top: 48px;
}

.box1 {
    width: 100%;
    height: 92px;
    border-radius: 46px;
    background: #0C0B0B;
    color: var(--color-black);
    cursor: pointer;
}

.yellowcircle {
    width: 71px;
    height: 71px;
    top: 10px;
    left: 13px;
    background: var(--color-white);
    border-radius: 46px;
    position: relative;
    cursor: pointer;
}

.box1:hover .yellowcircle {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
}

.one {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: black;
    margin: 0%;
}

.box2 {
    width: 100%;
    height: 92px;
    border-radius: 46px;
    background: #151313;
    color: var(--color-black);
    cursor: pointer;
}

.whitecircle {
    width: 71px;
    height: 71px;
    top: 10px;
    left: 13px;
    border-radius: 46px;
    cursor: pointer;
    position: relative;
    background: var(--color-white);
}

.box2:hover .whitecircle {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
}

.two {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-22);
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: var(--color-black);
    margin: 0%;
}

.section3-crashead {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-22);
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color: var(--color-white);
    padding-top: 13px;
}

.gap-23 {
    gap: 23px;
}

.mt-16 {
    margin-top: 16px;
}

.section3-ammethead {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: var(--color-white);
    opacity: 70%;
    padding-bottom: 14px;
}

.w-100 {
    width: 100%;
}

.position-rel {
    position: relative;
}

.tokenomics {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 600;
    line-height: 61.44px;
    text-align: center;
    color: var(--color-white);
}

.pt-62 {
    padding-top: 62px;
}

.mt-34 {
    margin-top: 34px;
}

.box-1 {
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    border-radius: 10px;
    border: 1px solid #474646;
    transition: all 0.5s linear;
    padding: 20px;
}

.box-1:hover {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.table-box {
    overflow-x: scroll;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.table-1 {
    width: 1320px;
    position: relative;
    left: 0%;
}

.box2-number {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    border: 1px solid #474646;
    border-radius: 10px;
    margin-top: 24px;
}


table tr td,
th {
    width: 16.66%;
    height: 68px;
}

.heading-box {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-22);
    font-weight: 400;
    line-height: 33px;
    color: var(--color-white);
    text-align: left;
}

.heading-box-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: 25.2px;
    color: var(--color-white2);
    text-align: left;
}

.table-number-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--color-white);
    text-align: left;
}

.table-number {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--color-white2);
    text-align: left;
}

.table-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-22);
    font-weight: 600;
    line-height: 33px;
    color: var(--color-white);
}

.box-number {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #FFFFFF;
    transition: all 0.3s linear;
    cursor: pointer;
}

.box-number:hover {
    color: #F06500;
}

.table-heading {
    background-color: var(--color-black2);
}

.section5-background {
    background: var(--color-black2);
}

.section5-heading {
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size-48);
    font-weight: 600;
    line-height: 61.44px;
    text-align: center;
}

.section5-phase1 {
    font-family: "Poppins";
    font-size: var(--font-size-36);
    color: var(--color-white);
    font-weight: 600;
    line-height: 54px;
    text-align: right;
}

.section5-paragraph1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    color: var(--color-white2);
    font-weight: 400;
    line-height: 32.4px;
    text-align: right;
}

.timeline::after {
    content: '';
    position: absolute;
    top: 1%;
    left: 7px;
    background: var(--color-white);
    height: 100%;
    width: 5px;
}

.content-timeline {
    position: relative;
    width: 100%;
    padding-left: 95px;
    display: flex;
}

.text-box1 {
    position: relative;
}

.circle-1::after {
    content: '';
    position: absolute;
    top: 1%;
    left: -104px;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
    height: 36px;
    width: 36px;
    border-radius: 50%;
    z-index: 1;
}

.circle-2::before {
    content: '';
    position: absolute;
    top: 0%;
    left: -104px;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
    height: 36px;
    width: 36px;
    border-radius: 50%;
    z-index: 1;
}

.left-0 {
    left: 0%;
}

.left {
    left: 0%;
}

.mt-50 {
    margin-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-95 {
    padding-left: 95px;
}

.accordion-item {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border: 1px solid;
    border: 2px solid #404040;
}

.accordion-flush>.accordion-item:nth-child(odd) {
    border: 2px solid #404040;
    border-radius: 10px;
}

.accordion-flush>.accordion-item:nth-child(even) {
    border: 2px solid #404040;
    border-radius: 10px;
}

.accordion {
    --bs-accordion-bg: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.accordion-button {
    color: var(--color-white);
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-22);
    font-weight: 600;
    line-height: 33px;
    text-align: left;
}

.accordian-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    color: var(--color-white2);
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
}

.accordion-button::after {
    background-image: url(../images/svg/accordian-btn-down.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/svg/accordian-btn-down.svg);
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--color-white);
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.ml-0 {
    margin-left: 0;
}

.over-flow-image {
    width: 100%;
}

.mt-80 {
    margin-top: 60px;
}
.pb-32{
    padding-bottom: 32px;
}
.section6-heading{
        font-family: "Poppins",sans-serif;
        font-size: var(--font-size-48);
        font-weight: 600;
        line-height: 61.44px;
        text-align: center;
        color: var(--color-white);
}

@media (max-width:1200px) {
    .parent-box {
        background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
        border: 1px solid #523235;
        border-radius: 10px;
        top: -42px;
        padding: 24px;
        backdrop-filter: blur(35px);
    }

}

@media (min-width:992px) {
    .mt-110 {
        margin-top: 110px;
    }

    .ml-55 {
        margin-left: 55px;
    }

    .over-flow-image {
        position: absolute;
        width: 50%;
        right: 0%;
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
    }

    .timeline::after {
        content: '';
        position: absolute;
        top: 1%;
        left: 50%;
        background-color: #FFFFFF;
        height: 100%;
        width: 5px;
    }

    .content-timeline {
        position: relative;
        width: 50%;
        display: flex;
    }

    .text-box1 {
        position: relative;
    }

    .circle-1::after {
        content: '';
        position: absolute;
        top: 0%;
        right: -116px;
        left: auto;
        background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
        height: 36px;
        width: 36px;
        border-radius: 50%;
        z-index: 1;
    }

    .circle-2::before {
        content: '';
        position: absolute;
        top: 0%;
        left: -111px;
        background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
        height: 36px;
        width: 36px;
        border-radius: 50%;
        z-index: 1;
    }

    .left-0 {
        left: 0%;
    }

    .left {
        left: 50%;
    }

    .pr-lg-95 {
        padding-right: 95px;
    }

    .pl-lg-0 {
        padding-left: 0px;
    }

}

@media (max-width:992px) {
    .menubar {
        width: 40px;
        height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 100;
    }

    .menubar span {
        height: 5px;
        width: 100%;
        background: var(--color-orange);
        border-radius: 3px;
    }

    .navbar-iteams {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        left: -100%;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: var(--color-black);
    }

    .show {
        left: 0;
    }

    .lg-align-start {
        text-align: start;
    }

}

@media (max-width:768px) {
    .section1-heading {
        font-size: var(--font-size-43);
        line-height: 60.52px;
    }

    .lorem-paragraph-section1 {
        font-size: var(--font-size-18);
        line-height: 32px;
    }

    .section2-heading {
        font-size: var(--font-size-36);
        line-height: 52.44px;
    }

    .section3-paragraph {
        font-size: var(--font-size-14);
        line-height: 30.4px;
    }
}

@media (max-width:567px) {
    .section1-heading {
        font-size: var(--font-size-40);
        line-height: 60.52px;
    }

    .lorem-paragraph-section1 {
        font-size: var(--font-size-19);
        line-height: 32px;
    }

    .section2-heading {
        font-size: var(--font-size-22);
        line-height: 52.44px;
    }

    .section3-paragraph {
        font-size: var(--font-size-12);
        line-height: 30.4px;
    }

    .section3-crashead {
        font-size: var(--font-size-12);
        line-height: 33px;
    }

    .section3-ammethead {
        font-size: var(--font-size-8);
        line-height: 32.4px;
    }

    .tokenomics {
        font-size: var(--font-size-40);
        line-height: 61.44px;
    }

    .accordian-paragraph {
        font-size: var(--font-size-10);
        line-height: 30.4px;
    }

    .accordion-button {
        font-size: var(--font-size-11);
    }
    .sm-mt-7{
        margin-top: 7px;
    }
}